.additional-goods {
  position: relative;

  @media @mobile-width-only {
    overflow: hidden;
  }

  &::before {
    position: absolute;
    content: "";
    top: 65px;
    right: -58.2%;
    height: 1px;
    width: 100%;
    border-top: 2px solid @basic-green;
    z-index: -1;

    @media @tablet {
      top: 8.2%;
      right: 0;
    }

    @media @desktop {
      top: 21px;
    }
  }
}

.additional-goods__wrapper {
  .wrapper();
}

.additional-goods__title {
  position: relative;
  margin: 0;
  .set-font(24px, 24px);
  padding-top: 51px;
  padding-bottom: 34px;

  @media @tablet {
    margin-top: -143px;
    padding: 68px 0 80px;
    .set-font(36px, 36px);
  }

  @media @desktop {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 77px;
    margin-top: -66px;
    margin-left: -37px;
  }
}

.additional-goods__title-text {
  background-color: @basic-white;
  padding-right: 20px;

  @media @tablet {
    padding-right: 37px;
    padding-left: 37px;
  }
}

.additional-goods__list-container {
  @media @desktop {
    display: flex;
    justify-content: space-between;
  }
}

.additional-goods__product-title {
  margin: 0;
  text-transform: uppercase;
  padding-top: 14px;
  padding-left: 2px;
  .set-font(16px, 16px);

  @media @tablet {
    padding-top: 26px;
    padding-left: 38px;
    .set-font(20px, 20px);
    margin-right: 240px;
  }

  @media @desktop {
    padding-left: 0;
    margin-right: 0;
    width: 325px;
  }
}

.additional-goods__list-common {
  .reset-style-list();

  @media @tablet {
    border: 1px solid @special-primary-grey;
  }

  @media @desktop {
    border: 0;
    width: 895px;
  }
}

.additional-goods__item {
  @media @tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid @basic-grey;
  }

  @media @desktop {
    margin-bottom: 8px;
    justify-content: start;
  }
}

.additional-goods__list {
  position: relative;
  .reset-style-list();

  &::after {
    position: absolute;
    content: "";
    bottom: -140%;
    left: 0;
    height: 1px;
    width: 280px;
    border-top: 1px solid @basic-grey;

    @media @tablet {
      display: none;
    }
  }
}

.additional-goods__list-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.additional-goods-common {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 5px;
  .set-font(14px, 14px, @font-secondary);

  @media @tablet {
    .set-font(16px, 20px, @font-secondary);
  }
}

.additional-goods__amount {
  @media @tablet {
    white-space: pre-wrap;
    padding-right: 50px;
    padding-top: 28px;
  }

  @media @desktop {
    width: 244px;
  }
}

.additional-goods__price {
  @media @tablet {
    padding-right: 37px;
    padding-top: 28px;
  }

  @media @desktop {
    padding-right: 37px;
    width: 81px;
  }
}

.additional-goods__link {
  margin-bottom: 17px;

  @media @tablet {
    margin: 8px 37px 27px;
    width: 100%;
  }

  @media @desktop {
    min-width: 244px;
    height: 40px;
    margin: 16px 0 0 0;
    width: auto;
  }
}

.additional-goods__item--border {
  position: relative;

  @media @desktop {
    &::after {
      position: absolute;
      content: "";
      bottom: -15%;
      left: 0;
      height: 1px;
      width: 100.4%;
      border-bottom: 1px solid @basic-grey;
    }
  }
}

.additional-goods__text {
  display: inline-flex;
  padding-top: 187px;
  width: 220px;
  padding-left: 56px;
  margin: 0;
  .set-font(16px, 20px, @font-secondary);
  color: @basic-white;
  text-align: center;

  @media @tablet {
    padding-top: 72px;
    width: 597px;
    padding-left: 423px;
    text-align: start;
  }

  @media @desktop {
    padding-top: 186px;
    padding-left: 37px;
    width: 206px;
    text-align: center;
  }
}

.additional-goods__background {
  position: relative;
  height: 288px;
  margin-bottom: -5px;
  margin-top: 58px;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  margin-bottom: 35px;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile-2x.jpg");
  }

  @media @tablet {
    width: 708px;
    height: 200px;
    margin-bottom: 76px;
    margin-top: 67px;
    background-size: cover;
    background-image: url("../img/gift-photo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet-2x.jpg");
    }
  }

  @media @desktop {
    width: 245px;
    height: 289px;
    margin-bottom: 85px;
    margin-top: 2px;
    background-image: url("../img/gift-photo-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop-2x.jpg");
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 20%;
    left: 36.5%;
    width: 69px;
    height: 69px;
    background-image: url("../img/icon-gift.svg");

    @media @tablet {
      top: 29.5%;
      left: 11.2%;
      width: 75px;
      height: 75px;
    }

    @media @desktop {
      top: 19.5%;
      left: 35%;
    }
  }
}
