.functional-food {
  background-color: @basic-green;
}

.functional-food__wrapper {
  .wrapper();
}

.functional-food__title {
  .set-font(36px, 36px);
  color: @basic-white;

  @media @tablet {
    .set-font(60px, 60px);
    color: @basic-dark;
  }
}

.functional-food__activity {
  .set-font(@line-height-value: 14px);
  color: @basic-dark;

  @media @tablet {
    .set-font(20px, 20px);
    color: @basic-dark;
  }
}

.functional-food__link {
  color: @basic-white;

  @media @tablet {
    .set-font(20px, 20px);
    width: 244px;
  }
}
