.functional-food__wrapper {
  .wrapper();
  background-color: @basic-green;
}

.functional-food__title {
  .set-font(@font-value: 36px; @line-height-value: 36px);
  color: @basic-white;
}

.functional-food__activity {
  .set-font(@line-height-value: 14px);
  color: @basic-white;
}

.functional-food__link {
  color: @basic-white;
}
