.backgound-primary {
  background-color: @basic-primary-grey;
}

.living-example__wrapper {
  .wrapper();
}

.living_example__title {
  .set-font(@font-value: 36px; @line-height-value: 40px);
}

.living_example__description {
  .set-font(@font-primary: "Arial");
}

.living-example-measure {
  .set-font(@font-value: 24px; @line-height-value: 24px;);
}

.living-example-result {
  .set-font(@font-primary: "Arial"; @font-value: 12px; @line-height-value: 12px);
}

.living_example__price {
  text-transform: uppercase;
}

.cat-result {
  .set-font(@font-value: 16px);
  text-transform: uppercase;
}
