.living-example {
  position: relative;
  background-color: @basic-grey-background;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    border-bottom: 1px solid @basic-primary-border;

    @media @desktop {
      border: 0;
    }
  }

  @media @tablet {
    background: linear-gradient(to bottom, @basic-white 0%, @basic-white 57.3%, @basic-grey-background 57.3%);
  }

  @media @desktop {
    background: linear-gradient(180deg, @basic-white 159px, transparent 0%), linear-gradient(270deg, @basic-grey-background 30%, @basic-primary-grey 0%);
  }
}

.living-example__wrapper {
  .wrapper();

  @media @desktop {
    display: flex;
    background: linear-gradient(180deg, @basic-white 159px, transparent 0%), linear-gradient(270deg, @basic-grey-background 394px, @basic-primary-grey 0%);
  }
}

.living-example__title {
  padding-top: 27px;
  padding-bottom: 33px;
  margin: 0;
  .set-font(36px, 40px);

  @media @tablet {
    padding-top: 44px;
    padding-bottom: 63px;
    .set-font(60px, 60px);
  }

  @media @desktop {
    padding-top: 24px;
    padding-bottom: 147px;
  }
}

.living-example__description {
  margin: 0;
  padding-bottom: 39px;
  .set-font(@font-primary: "Arial");

  @media @tablet {
    width: 678px;
    padding-bottom: 69px;
    .set-font(16px, 24px, @font-primary: "Arial");
  }

  @media @desktop {
    width: 435px;
    padding-bottom: 82px;
  }
}

.living-example__result {
  @media @tablet {
    display: flex;
    justify-content: space-between;
  }

  @media @desktop {
    display: block;
  }
}

.living-example__list {
  .reset-style-list();
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media @tablet {
    width: 390px;
  }

  @media @desktop {
    padding-bottom: 85px;
  }
}

.living-example__item {
  position: relative;
}

.living-example__value {
  margin: 0;
  text-transform: uppercase;
  .set-font(24px, 24px);

  @media @tablet {
    .set-font(30px, 37px);
  }

  &--weight {
    padding-left: 43px;

    @media @tablet {
      padding-left: 58px;
    }

    &::before {
      position: absolute;
      content: "";
      top: -53%;
      left: 0;
      width: 124px;
      height: 56px;
      border: 1px solid @special-primary-grey;
      border-radius: 2px;

      @media @tablet {
        top: -30%;
        width: 162px;
        height: 71px;
      }

      @media @desktop {
        top: -37%;
      }
    }
  }

  &--time {
    padding-left: 38px;

    &::before {
      position: absolute;
      content: "";
      top: -53%;
      left: 12%;
      width: 124px;
      height: 56px;
      border: 1px solid @special-primary-grey;
      border-radius: 2px;

      @media @tablet {
        top: -30%;
        left: 5%;
        width: 162px;
        height: 71px;
      }

      @media @desktop {
        top: -37%;
      }
    }
  }
}

.living-example__label {
  position: absolute;
  top: 89%;
  width: 87px;
  padding-left: 3px;
  padding-right: 5px;
  text-align: center;
  .set-font(12px, 12px, "Arial");
  background-color: @basic-grey-background;

  @media @tablet {
    top: 70%;
    background-color: @basic-white;
    .set-font(14px, 14px, "Arial");
  }

  @media @desktop {
    top: 95%;
    background-color: @basic-primary-grey;
  }

  &--weight {
    left: 13%;

    @media @tablet {
      width: 110px;
    }
  }

  &--time {
    left: 25%;

    @media @tablet {
      width: 135px;
      left: 12%;
    }
  }
}

.living-example__price {
  margin: 0;
  text-transform: uppercase;
  padding-left: 45px;
  padding-top: 53px;

  @media @tablet {
    padding-top: 0;
    margin-top: -7px;
    text-align: right;
    width: 220px;
    .set-font(20px, 28px);
  }

  @media @desktop {
    padding-left: 0;
    width: auto;
    text-align: start;
  }
}

.living-example__price-text {
  padding-left: 4px;

  @media @desktop {
    padding-left: 59px;
  }
}

.living-example__cat-container {
  @media @desktop {
    margin-left: 170px;
  }
}

.living-example__two-cats {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media @tablet {
    padding-top: 90px;
  }

  @media @desktop {
    display: flex;
    width: 615px;
    padding-top: 0;
    margin-top: -30px;
  }
}

.living-example__cat-location {
  @media @tablet {
    overflow: hidden;
  }
}

.living-example__cat-fat {
  width: 309px;
  height: 230px;
  margin-top: 44px;
  margin-left: -18px;

  @media @tablet {
    transform: translateX(34px);
    margin-top: 0;
    width: 677px;
    height: 522px;
  }

  @media @desktop {
    transform: translateX(-17px);
    width: 678px;
    height: 517px;
  }
}

.living-example__cat-skinny {
  @media @mobile-width-only {
    display: none;
  }

  @media @tablet {
    transform: translateX(-259px);
    width: 566px;
    height: 519px;
  }

  @media @desktop {
    transform: translateX(-287px);
    height: 516px;
  }
}

.living-example__price-span {
  padding-top: 5px;
}

.living-example__range-controls {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;

  @media @tablet {
    grid-template-columns: 1fr 4fr 1fr;
    padding-bottom: 57px;
  }

  @media @desktop {
    padding-top: 22px;
  }
}

.living-example__cat {
  margin-top: 31px;
  .set-font(16px);
  text-transform: uppercase;

  @media @tablet {
    .set-font(20px);
  }
}

.living-example__cat--before {
  margin-left: 44px;

  @media @tablet {
    margin-left: 68px;
    margin-top: 15px;

    &::before {
      position: absolute;
      content: "";
      top: 36%;
      left: 10%;
      width: 44px;
      height: 1px;
      border-bottom: 1px dotted @special-primary-grey;

      @media @desktop {
        top: 48%;
        left: 7.4%;
      }
    }

    &:hover::before {
      border-bottom: 1px solid @special-primary-grey;
    }

    &:active::before {
      display: none;
    }
  }

  @media @desktop {
    margin-left: 44px;
  }
}

.living-example__cat--after {
  margin-left: 14px;

  @media @tablet {
    margin-left: -2px;
    margin-top: 15px;
  }

  @media @desktop {
    margin-left: 19px;
  }

  &::after {
    @media @tablet {
      position: absolute;
      content: "";
      top: 36%;
      right: 10%;
      width: 44px;
      height: 1px;
      border-bottom: 1px dotted @special-primary-grey;
    }

    @media @desktop {
      top: 48%;
      right: 0.5%;
    }
  }

  &:hover::after {
    border-bottom: 1px solid @special-primary-grey;
  }

  &:active::after {
    display: none;
  }
}

.living-example__scale {
  position: relative;
  margin-top: 33px;
  margin-left: 5px;
  padding-top: 3px;
  width: 84px;
  height: 14px;
  border: 1px solid @special-primary-grey;
  border-radius: 7px;
  background-color: @basic-white;

  @media @tablet {
    margin-top: 23px;
    margin-left: 22px;
    height: 6px;
    width: 428px;
    background-color: @special-primary-grey;

    @media @desktop {
      margin-left: 26px;
    }
  }
}

.living-example__bar {
  margin-left: 5px;
  width: 35px;
  height: 1px;
  background-color: @basic-green;
  border: 3px solid @basic-green;
  border-radius: 3px;

  @media @tablet {
    position: absolute;
    content: "";
    top: -16px;
    left: 44.7%;
    height: 34px;
    width: 34px;
    border: 13px solid @basic-white;
    background-color: @basic-green;
    border-radius: 17px;
    box-shadow: 0 2px 4px 1px @special-primary-grey;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 4px 1px @special-primary-grey;
    }

    &:active::after {
      position: absolute;
      content: "";
      top: -13px;
      left: -163.3%;
      height: 34px;
      width: 34px;
      border-radius: 17px;
      box-shadow: 0 3px 3px 1px @special-primary-grey;
      border: 1px solid @basic-green;
    }
  }
}
