.map-adress--background {
  background-color: @basic-primary-grey;
}

.map-adress__wrapper {
  .wrapper();
}

.map-adress__info {
  @media @tablet {
    padding-left: 40px;
  }

  @media @desktop {
    padding-left: 0;
    position: relative;
  }
}

.map-adress__container {
  display: flex;
  justify-content: space-between;

  @media @desktop {
    position: absolute;
    width: 570px;
    top: 94px;
    z-index: 1;
    background-color: @basic-white;
  }
}

.map-adress__cooperation {
  .set-font(16px, 18px);
  text-transform: uppercase;
  font-style: normal;
  padding-top: 33px;
  padding-right: 19px;
  padding-bottom: 28px;
  margin: 0;

  @media @tablet {
    padding-top: 63px;
    width: 171px;
    .set-font(20px, 26px);
    padding-bottom: 60px;
  }

  @media @desktop {
    padding-left: 76px;
  }
}

.map-adress__text-adress {
  .set-font(14px, 20px, @font-secondary);
  font-style: normal;
  padding-top: 30px;
  margin: 0;

  @media @tablet {
    .set-font(16px, 20px, @font-secondary);
    padding-top: 62px;
    width: 210px;
    text-align: end;
    padding-right: 43px;
  }

  @media @desktop {
    padding-top: 64px;
    width: 244px;
    text-align: start;
    padding-right: 75px;
  }
}

.map-adress__piter {
  @media @tablet {
    display: block;
    padding-top: 20px;
  }
}

.map-adress__map-container {
  position: relative;
  height: 362px;

  @media @tablet {
    height: 400px;
  }
}

.map-adress__map-interactive {
  width: 100%;
  height: 100%;
  border: 0;
}

.map-adress__map {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
