.page-footer {
  background: @basic-primary-grey;
}

.page-footer__wrapper {
  .wrapper();
}

.page-footer__wrapper--layout {
  min-height: 238px;
  display: block;

  @media @tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 11px;
    min-height: 160px;
    align-items: center;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 31px;

  @media @tablet {
    padding-top: 6px;
    justify-content: start;
    align-items: unset;
  }
}

.page-footer__img-logo {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__list {
  display: flex;
  padding: 17px 0 20px 26px;
  padding-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid @basic-primary-border;
  justify-content: center;
  list-style: none;
  margin: 0;


  @media @tablet {
    padding-left: 42px;
    align-items: stretch;
    border: 0;
    padding-top: 0;
  }
}

.page-footer__copyright {
  border-top: 1px solid @basic-primary-border;

  @media @tablet {
    padding-left: 72px;
    border: 0;
  }

  @media @desktop {
    padding-top: 11px;
    padding-left: 244px;
  }
}

.page-footer__copyrigh-svg {
  &:hover {
    color: @basic-green;
  }

  &:active {
    opacity: 0.6;
  }

  @media @tablet {
    margin-top: -8px;
  }
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;

  @media @tablet {
    align-items: unset;
    padding-top: 0;
  }
}

.page-footer__text {
  margin: 0;
  .set-font(16px, 16px, @font-secondary);

  &:active {
    color: @basic-dark-hover;
  }

  @media @tablet {
    padding-bottom: 29px;
  }
}
