.set-font(@font-primary: "Oswald"; @font-value: 14px; @line-height-value: 18px; @set-weight: 400) {
  font-family: @font-primary;
  font-size: @font-value;
  line-height: @line-height-value;
  font-weight: @set-weight;
}

.wrapper(@set-padding: 0 20px; @set-margin: 0 auto; @set-width: 280px) {
  padding: @set-padding;
  margin: @set-margin;
  width: @set-width;
}
